.customSelect{
	z-index: 100;
	position: relative;
}

.customSelect2{
	z-index: 100;
	margin-right: 20px;
	position: relative;
}

@media (--s) {
	.customSelect2{
		margin-right: 0px;
	}
}

.csopened{
	z-index: 1000;
}


.selectContainer{
	height: 40px;
	max-width: 300px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--color-gray);
	color: var(--color-gray);
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	font-family: 'Helvetica Neue Web';
	overflow: hidden;
	position: relative;
}
@media (--s) {
	.selectContainer{
		max-width: 100%;
		margin-bottom: 10px;

	}
}

.selectContainerOpen{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


.selectText{
	padding-left: 10px;
	padding-top: 10px;
}

.selectIcon{
	width: 38px;
	height: 38px;
	position: absolute;
	right: -1px;
	top: -1px;
	background-color: var(--color-gray);
}


.dropdownContainer{
	position: absolute;
	top: 38px;
	left: 0px;
	max-width: 300px;
	width: 100%;
	height: 172px;
	overflow-y: scroll;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: var(--color-gray);
	color: var(--color-gray);
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: none;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
@media (--s) {
	.dropdownContainer{
		max-width: 100%;
	}
}

.dropdownContainerOpen{
	display: block;
}

.dropdownElement{
	font-size: 18px;
	font-family: 'Helvetica Neue Web';
	cursor: pointer;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

	&:hover{
		background-color: var(--color-lightgray);
	}
}
.dropdownElementSelected{
	background-color: var(--color-lightgray);
}


.dropdownElementColored1{
	color:white;
	background-color: var(--color-darkblue);
	&:hover{
		color:var(--color-darkblue);
		background-color:white;
	}
}

.dropdownElementColored2{
	color:white;
	background-color: var(--color-lightblue);
	&:hover{
		color:var(--color-lightblue);
		background-color:white;
	}
}

.dropdownElementColored3{
	color:white;
	background-color: var(--color-green);
	&:hover{
		color:var(--color-green);
		background-color:white;
	}
}

.dropdownElementColored4{
	color:white;
	background-color: var(--color-orange);
	&:hover{
		color:var(--color-orange);
		background-color:white;
	}
}

