@import './styles/fonts';
@import './components/app';
@import './components/graph1';
@import './components/graph2';
@import './components/graph3';
@import './components/graph4';
@import './components/graph5';
@import './components/customSelect';

:root {
  --color-white: #ffffff;
  --color-gray: #494a4f;
  --color-lightgray: #cacbce;
  --color-darkblue: #466ea5;
  --color-lightblue: #6390c6;
  --color-green: #6e8f82;
  --color-orange: #e77c22;
  --color-red: #ab404b;
}

@custom-media --s (max-width: 941px);
@custom-media --m (min-width: 941px);
@custom-media --l (min-width: 1765px);

/*::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
}*/